.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid #333;
}

.App-logo {
  height: 40vmin;
}

.App_header { 
  font-size: calc(10px + 2vmin);
  color: #333;
  position: relative;
  top: 0;
  width: 100%;
  border-bottom: 2px solid #333
}

.App-link {
  color: #09d3ac;
}

.App_nav {  
  flex: 1;
  border-right: 2px solid #333;
}

a {
  text-decoration: none;
  color: #333;
}

.App_wrapper {
  display: flex;
  justify-content: center;
}

.App_main {
  flex: 3;
}